{% extends "base.html" %}

{% block content %}
    {% include "components/hero.html" %}
    {% include "components/presentation.html" %}
    {% include "components/solutions_section.html" %}
    {% include "components/process_section.html" %}
    {% include "components/services_section.html" %}
    {% include "components/differentials_section.html" %}
    {% include "components/about_section.html" %}
    {% include "components/cta_section.html" %}
    {% include "components/contact_section.html" %}
{% endblock %}
